@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tipografía personalizada */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.cursor-pointer  {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fbcfe8;
  
  text-decoration: none;
}

.cursor-pointer .nav-links {
  color: #db2777;
  text-decoration: none;
}

.texto-navegador {
  font-size: 1.2rem;
  font-weight: 600;
  color: orangered;
}

.nav-links {
  text-decoration: none;
  color: #db2777;
  width: 80%;
  
}

.nav-links :hover {
  background-color: #fbcfe8;
  border-radius: 10%;
}

